 body {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     vertical-align: baseline;
     background: transparent;
     font-family: "Montserrat";
     box-sizing: border-box;
 }


 .menu-share {
     background-color: hsl(28, 100%, 91%);
     width: 100%;
     height: auto;
     position: relative;
     text-align: left;
     

 }

 .menu-nav ul li {
     display: inline-block;


 }

 .menu-ul li {
     margin: 25px;

 }

 .menu-a {
     text-decoration: none;
     color: #2f2e2e;
     font-size: 14px;

 }

 .menu-a:hover {
     transition: all .3s;
     color: #fdbd81;

 }

 .cor:nth-child(1) {
     color: #fdbd81;
 }

 .icon-facebook, .icon-instagram {
     color: #000;
     padding: 0 15px;

 }

 .social {
     display: block;
     margin-left: 80%;
     justify-content: flex;
     margin-top: -55px;
     padding: 0 10px 5px 5px;

 }

 .titulo {
     text-align: center;
     margin-top: 100px;
     line-height: 35px;
     
     
 }

 .titulo p span {
     font-size: 18px;
     font-weight: normal;
     letter-spacing: 0.1em;
     text-transform: uppercase;
     
    
 }

 .titulo h1 span {
     font-size: 55px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .banner img {
     width: 100%;
    
 }